LibraryManagementSystemClient/src/wsdl/localhost_8080/LibraryManagementSystemWS/BooksServiceService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.com/" name="BooksServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.com/" schemaLocation="http://localhost:8080/LibraryManagementSystemWS/BooksServiceService?xsd=1"/>
</xsd:schema>
</types>
<message name="InsertBooks">
<part name="parameters" element="tns:InsertBooks"/>
</message>
<message name="InsertBooksResponse">
<part name="parameters" element="tns:InsertBooksResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="DisplayBooks">
<part name="parameters" element="tns:DisplayBooks"/>
</message>
<message name="DisplayBooksResponse">
<part name="parameters" element="tns:DisplayBooksResponse"/>
</message>
<message name="DisplayBookById">
<part name="parameters" element="tns:DisplayBookById"/>
</message>
<message name="DisplayBookByIdResponse">
<part name="parameters" element="tns:DisplayBookByIdResponse"/>
</message>
<message name="DeleteBook">
<part name="parameters" element="tns:DeleteBook"/>
</message>
<message name="DeleteBookResponse">
<part name="parameters" element="tns:DeleteBookResponse"/>
</message>
<message name="SearchBookByAuthor">
<part name="parameters" element="tns:SearchBookByAuthor"/>
</message>
<message name="SearchBookByAuthorResponse">
<part name="parameters" element="tns:SearchBookByAuthorResponse"/>
</message>
<message name="UpdateBook">
<part name="parameters" element="tns:UpdateBook"/>
</message>
<message name="UpdateBookResponse">
<part name="parameters" element="tns:UpdateBookResponse"/>
</message>
<message name="SearchBookByTitle">
<part name="parameters" element="tns:SearchBookByTitle"/>
</message>
<message name="SearchBookByTitleResponse">
<part name="parameters" element="tns:SearchBookByTitleResponse"/>
</message>
<portType name="BooksService">
<operation name="InsertBooks">
<input wsam:Action="http://service.com/BooksService/InsertBooksRequest" message="tns:InsertBooks"/>
<output wsam:Action="http://service.com/BooksService/InsertBooksResponse" message="tns:InsertBooksResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.com/BooksService/InsertBooks/Fault/Exception"/>
</operation>
<operation name="DisplayBooks">
<input wsam:Action="http://service.com/BooksService/DisplayBooksRequest" message="tns:DisplayBooks"/>
<output wsam:Action="http://service.com/BooksService/DisplayBooksResponse" message="tns:DisplayBooksResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.com/BooksService/DisplayBooks/Fault/Exception"/>
</operation>
<operation name="DisplayBookById">
<input wsam:Action="http://service.com/BooksService/DisplayBookByIdRequest" message="tns:DisplayBookById"/>
<output wsam:Action="http://service.com/BooksService/DisplayBookByIdResponse" message="tns:DisplayBookByIdResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.com/BooksService/DisplayBookById/Fault/Exception"/>
</operation>
<operation name="DeleteBook">
<input wsam:Action="http://service.com/BooksService/DeleteBookRequest" message="tns:DeleteBook"/>
<output wsam:Action="http://service.com/BooksService/DeleteBookResponse" message="tns:DeleteBookResponse"/>
</operation>
<operation name="SearchBookByAuthor">
<input wsam:Action="http://service.com/BooksService/SearchBookByAuthorRequest" message="tns:SearchBookByAuthor"/>
<output wsam:Action="http://service.com/BooksService/SearchBookByAuthorResponse" message="tns:SearchBookByAuthorResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.com/BooksService/SearchBookByAuthor/Fault/Exception"/>
</operation>
<operation name="UpdateBook">
<input wsam:Action="http://service.com/BooksService/UpdateBookRequest" message="tns:UpdateBook"/>
<output wsam:Action="http://service.com/BooksService/UpdateBookResponse" message="tns:UpdateBookResponse"/>
</operation>
<operation name="SearchBookByTitle">
<input wsam:Action="http://service.com/BooksService/SearchBookByTitleRequest" message="tns:SearchBookByTitle"/>
<output wsam:Action="http://service.com/BooksService/SearchBookByTitleResponse" message="tns:SearchBookByTitleResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.com/BooksService/SearchBookByTitle/Fault/Exception"/>
</operation>
</portType>
<binding name="BooksServicePortBinding" type="tns:BooksService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="InsertBooks">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="DisplayBooks">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="DisplayBookById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="DeleteBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SearchBookByAuthor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="UpdateBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SearchBookByTitle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="BooksServiceService">
<port name="BooksServicePort" binding="tns:BooksServicePortBinding">
<soap:address location="http://localhost:8080/LibraryManagementSystemWS/BooksServiceService"/>
</port>
</service>
</definitions>