LibraryManagementSystemClient/src/wsdl/localhost_8080/LibraryManagementSystemWS/BookOperationsService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.com/" name="BookOperationsService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.com/" schemaLocation="http://localhost:8080/LibraryManagementSystemWS/BookOperationsService?xsd=1"/>
</xsd:schema>
</types>
<message name="userHistory">
<part name="parameters" element="tns:userHistory"/>
</message>
<message name="userHistoryResponse">
<part name="parameters" element="tns:userHistoryResponse"/>
</message>
<message name="receiveBook">
<part name="parameters" element="tns:receiveBook"/>
</message>
<message name="receiveBookResponse">
<part name="parameters" element="tns:receiveBookResponse"/>
</message>
<message name="issueBook">
<part name="parameters" element="tns:issueBook"/>
</message>
<message name="issueBookResponse">
<part name="parameters" element="tns:issueBookResponse"/>
</message>
<portType name="BookOperations">
<operation name="userHistory">
<input wsam:Action="http://service.com/BookOperations/userHistoryRequest" message="tns:userHistory"/>
<output wsam:Action="http://service.com/BookOperations/userHistoryResponse" message="tns:userHistoryResponse"/>
</operation>
<operation name="receiveBook">
<input wsam:Action="http://service.com/BookOperations/receiveBookRequest" message="tns:receiveBook"/>
<output wsam:Action="http://service.com/BookOperations/receiveBookResponse" message="tns:receiveBookResponse"/>
</operation>
<operation name="issueBook">
<input wsam:Action="http://service.com/BookOperations/issueBookRequest" message="tns:issueBook"/>
<output wsam:Action="http://service.com/BookOperations/issueBookResponse" message="tns:issueBookResponse"/>
</operation>
</portType>
<binding name="BookOperationsPortBinding" type="tns:BookOperations">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="userHistory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="receiveBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="issueBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BookOperationsService">
<port name="BookOperationsPort" binding="tns:BookOperationsPortBinding">
<soap:address location="http://localhost:8080/LibraryManagementSystemWS/BookOperationsService"/>
</port>
</service>
</definitions>