LibraryManagementSystemClient/src/wsdl/localhost_8080/LibraryManagementSystemWS/EmployeeServiceService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.com/" name="EmployeeServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.com/" schemaLocation="http://localhost:8080/LibraryManagementSystemWS/EmployeeServiceService?xsd=1"/>
</xsd:schema>
</types>
<message name="InsertEmployee">
<part name="parameters" element="tns:InsertEmployee"/>
</message>
<message name="InsertEmployeeResponse">
<part name="parameters" element="tns:InsertEmployeeResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="DisplayEmployees">
<part name="parameters" element="tns:DisplayEmployees"/>
</message>
<message name="DisplayEmployeesResponse">
<part name="parameters" element="tns:DisplayEmployeesResponse"/>
</message>
<message name="DisplayEmployeeById">
<part name="parameters" element="tns:DisplayEmployeeById"/>
</message>
<message name="DisplayEmployeeByIdResponse">
<part name="parameters" element="tns:DisplayEmployeeByIdResponse"/>
</message>
<message name="UpdateEmployee">
<part name="parameters" element="tns:UpdateEmployee"/>
</message>
<message name="UpdateEmployeeResponse">
<part name="parameters" element="tns:UpdateEmployeeResponse"/>
</message>
<message name="NonexistentEntityException">
<part name="fault" element="tns:NonexistentEntityException"/>
</message>
<message name="DeleteEmployee">
<part name="parameters" element="tns:DeleteEmployee"/>
</message>
<message name="DeleteEmployeeResponse">
<part name="parameters" element="tns:DeleteEmployeeResponse"/>
</message>
<message name="SearchEmployeeById">
<part name="parameters" element="tns:SearchEmployeeById"/>
</message>
<message name="SearchEmployeeByIdResponse">
<part name="parameters" element="tns:SearchEmployeeByIdResponse"/>
</message>
<portType name="EmployeeService">
<operation name="InsertEmployee">
<input wsam:Action="http://service.com/EmployeeService/InsertEmployeeRequest" message="tns:InsertEmployee"/>
<output wsam:Action="http://service.com/EmployeeService/InsertEmployeeResponse" message="tns:InsertEmployeeResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.com/EmployeeService/InsertEmployee/Fault/Exception"/>
</operation>
<operation name="DisplayEmployees">
<input wsam:Action="http://service.com/EmployeeService/DisplayEmployeesRequest" message="tns:DisplayEmployees"/>
<output wsam:Action="http://service.com/EmployeeService/DisplayEmployeesResponse" message="tns:DisplayEmployeesResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.com/EmployeeService/DisplayEmployees/Fault/Exception"/>
</operation>
<operation name="DisplayEmployeeById">
<input wsam:Action="http://service.com/EmployeeService/DisplayEmployeeByIdRequest" message="tns:DisplayEmployeeById"/>
<output wsam:Action="http://service.com/EmployeeService/DisplayEmployeeByIdResponse" message="tns:DisplayEmployeeByIdResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.com/EmployeeService/DisplayEmployeeById/Fault/Exception"/>
</operation>
<operation name="UpdateEmployee">
<input wsam:Action="http://service.com/EmployeeService/UpdateEmployeeRequest" message="tns:UpdateEmployee"/>
<output wsam:Action="http://service.com/EmployeeService/UpdateEmployeeResponse" message="tns:UpdateEmployeeResponse"/>
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://service.com/EmployeeService/UpdateEmployee/Fault/NonexistentEntityException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.com/EmployeeService/UpdateEmployee/Fault/Exception"/>
</operation>
<operation name="DeleteEmployee">
<input wsam:Action="http://service.com/EmployeeService/DeleteEmployeeRequest" message="tns:DeleteEmployee"/>
<output wsam:Action="http://service.com/EmployeeService/DeleteEmployeeResponse" message="tns:DeleteEmployeeResponse"/>
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://service.com/EmployeeService/DeleteEmployee/Fault/NonexistentEntityException"/>
</operation>
<operation name="SearchEmployeeById">
<input wsam:Action="http://service.com/EmployeeService/SearchEmployeeByIdRequest" message="tns:SearchEmployeeById"/>
<output wsam:Action="http://service.com/EmployeeService/SearchEmployeeByIdResponse" message="tns:SearchEmployeeByIdResponse"/>
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://service.com/EmployeeService/SearchEmployeeById/Fault/NonexistentEntityException"/>
</operation>
</portType>
<binding name="EmployeeServicePortBinding" type="tns:EmployeeService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="InsertEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="DisplayEmployees">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="DisplayEmployeeById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="UpdateEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="DeleteEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal"/>
</fault>
</operation>
<operation name="SearchEmployeeById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal"/>
</fault>
</operation>
</binding>
<service name="EmployeeServiceService">
<port name="EmployeeServicePort" binding="tns:EmployeeServicePortBinding">
<soap:address location="http://localhost:8080/LibraryManagementSystemWS/EmployeeServiceService"/>
</port>
</service>
</definitions>